:root {
  --main-font: "Roboto", sans-serif;
  --accent-font: "Unbounded", sans-serif;
  --bold-font: "Bruno Ace", sans-serif;
  /* text color */
  --main-text-color: #000;
  --muted50-text-color: rgba(0, 0, 0, 0.5);
  --muted70-text-color: rgba(0, 0, 0, 0.7);
  --accent-text-color: #013e21;
  --white-text-color: #fff;
  /* background color */
  --main-background-color: #fff;
  --secondary-background-color: #013e21;
  --black-background-color: #000;
  /* :focus:hover effects */
  --general-transition-effect: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}

body {
  font-family: var(--main-font), sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  margin: 0;
}

html.is-hidden {
  overflow-y: hidden;
}

body.is-hidden {
  overflow-y: hidden;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

button {
  color: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 3px;
}

svg {
  height: 100%;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--accent-text-color);
  font-family: var(--bold-font);
  text-transform: uppercase;
  font-size: 66px;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 92px;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    font-size: 150px;
    line-height: 1;
  }
}

h2 {
  color: var(--accent-text-color);
  font-family: var(--accent-font);
  font-size: 24px;
  font-weight: 200;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 62px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 100px;
  }
}

h3 {
  color: var(--accent-text-color);
  font-size: 18px;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 30px;
  }
}

section {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  section {
    padding: 80px 0;
  }
}
@media screen and (min-width: 1280px) {
  section {
    padding: 100px 0;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 50px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 100px;
    max-width: 1280px;
  }
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--main-background-color);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0px 0px 0px 0px rgb(255, 255, 255);
  background-color: var(--secondary-background-color);
  border-radius: 3px;
}

#scrollToTopBtn {
  position: fixed;
  right: -20px;
  bottom: 50px;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-color: #333;
  border: none;
  border-radius: 50%;
  padding: 10px;
  -webkit-transition: right var(--general-transition-effect), opacity var(--general-transition-effect), visibility var(--general-transition-effect);
  transition: right var(--general-transition-effect), opacity var(--general-transition-effect), visibility var(--general-transition-effect);
}

#scrollToTopBtn.show {
  pointer-events: all;
  right: 50px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: right var(--general-transition-effect), opacity var(--general-transition-effect), -webkit-box-shadow var(--general-transition-effect), -webkit-transform var(--general-transition-effect);
  transition: right var(--general-transition-effect), opacity var(--general-transition-effect), -webkit-box-shadow var(--general-transition-effect), -webkit-transform var(--general-transition-effect);
  transition: right var(--general-transition-effect), opacity var(--general-transition-effect), box-shadow var(--general-transition-effect), transform var(--general-transition-effect);
  transition: right var(--general-transition-effect), opacity var(--general-transition-effect), box-shadow var(--general-transition-effect), transform var(--general-transition-effect), -webkit-box-shadow var(--general-transition-effect), -webkit-transform var(--general-transition-effect);
}

#scrollToTopBtn.show:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

#scrollToTopBtn svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 30px;
  max-height: 30px;
  rotate: -90deg;
}

.modal {
  max-width: 300px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--main-background-color);
  z-index: 100;
  padding: 30px 30px;
  border: 1px solid var(--black-background-color);
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 50px 30px;
    max-width: 700px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    padding: 50px 30px;
    max-width: 980px;
  }
}
.modal__backdrop {
  position: fixed;
  inset: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__backdrop.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal__text-wrapper {
  margin-bottom: 35px;
}
.modal__text-wrapper li:not(:last-child) .modal__text--muted {
  margin-bottom: 10px;
}
.modal__text {
  font-size: 12px;
  line-height: 16px;
}
@media screen and (min-width: 768px) {
  .modal__text {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__text {
    font-size: 20px;
    line-height: 26px;
  }
}
.modal__text--muted {
  color: var(--muted50-text-color);
}
.modal__text span {
  font-family: var(--bold-font);
  color: var(--accent-text-color);
}
.modal__contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .modal__contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.modal__contact-wrapper p {
  max-width: 350px;
}
@media screen and (min-width: 768px) {
  .modal__contact-wrapper p {
    max-width: 350px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__contact-wrapper p {
    max-width: 450px;
  }
}
.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 768px) {
  .modal__close-btn {
    top: 20px;
    right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__close-btn {
    top: 30px;
    right: 30px;
  }
}
.modal__close-btn svg {
  display: block;
  width: 30px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .modal__close-btn svg {
    width: 40px;
    height: 40px;
  }
}

.swiper {
  max-width: 200px;
  max-height: 680px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .swiper {
    max-width: 420px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper {
    max-width: 665px;
  }
}

.swiper .swiper-slide picture {
  height: 100%;
  display: block;
  overflow: hidden;
}

.swiper-pagination-bullet:hover {
  background-color: #000;
}

.swiper__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  color: var(--muted50-text-color);
}
@media screen and (min-width: 768px) {
  .swiper__buttons {
    gap: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper__buttons {
    gap: 60px;
  }
}

.swiper__buttons svg {
  width: 30px;
  height: 26px;
  fill: var(--muted50-text-color);
  cursor: pointer;
  -webkit-transition: fill var(--general-transition-effect);
  transition: fill var(--general-transition-effect);
}
@media screen and (min-width: 768px) {
  .swiper__buttons svg {
    width: 40px;
    height: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper__buttons svg {
    width: 46px;
    height: 42px;
  }
}

.swiper__buttons svg:hover {
  fill: #000;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 5px;
  height: 4px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  -webkit-transition: width var(--general-transition-effect), background-color var(--general-transition-effect);
  transition: width var(--general-transition-effect), background-color var(--general-transition-effect);
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 4px;
  }
}

.swiper-pagination-horizontal {
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-pagination-bullet-active {
  width: 30px;
  background-color: #000;
}
@media screen and (min-width: 768px) {
  .swiper-pagination-bullet-active {
    width: 50px;
    height: 4px;
  }
}

.form__wrapper {
  border: 1px solid var(--black-background-color);
  border-radius: 3px;
  padding: 20px 20px;
}
@media screen and (min-width: 768px) {
  .form__wrapper {
    padding: 30px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .form__wrapper {
    padding: 60px 80px;
  }
}
.form__title {
  font-family: var(--accent-font);
  color: var(--accent-text-color);
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form__title {
    font-size: 36px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .form__title {
    font-size: 50px;
    margin-bottom: 50px;
  }
}
.form__title--centered {
  text-align: center;
}
.form__title--70 {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .form__title--70 {
    font-size: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .form__title--70 {
    font-size: 70px;
  }
}
.form__text {
  color: var(--muted70-text-color);
  font-size: 12px;
  line-height: 22px;
}
@media screen and (min-width: 768px) {
  .form__text {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (min-width: 1280px) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
  }
}
.form__text span {
  font-family: var(--bold-font);
  color: var(--accent-text-color);
}
.form__request-wrapper .form__text {
  max-width: 220px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form__request-wrapper .form__text {
    min-width: 260px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .form__request-wrapper .form__text {
    min-width: 300px;
  }
}
.form__request-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .form__request-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.form__request-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 180px;
}
@media screen and (min-width: 768px) {
  .form__request-wrapper form {
    min-width: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .form__request-wrapper form {
    min-width: 340px;
  }
}
.form__request-wrapper form li:not(:last-child) {
  margin-bottom: 15px;
}
.form__request-wrapper form li:last-child {
  margin-bottom: 40px;
}
.form__request-wrapper form input, .form__subscribe-wrapper form input {
  font-family: var(--main-font);
  padding: 10px 0;
  border: none;
  outline: none;
  font-size: 12px;
  border-bottom: 1px solid var(--black-background-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .form__request-wrapper form input, .form__subscribe-wrapper form input {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .form__request-wrapper form input, .form__subscribe-wrapper form input {
    font-size: 20px;
  }
}
.form__subscribe-wrapper form input {
  min-width: 120px;
}
@media screen and (min-width: 768px) {
  .form__subscribe-wrapper form input {
    min-width: 260px;
  }
}
@media screen and (min-width: 1280px) {
  .form__subscribe-wrapper form input {
    min-width: 340px;
  }
}
.form__request-wrapper form input::-webkit-input-placeholder, .form__subscribe-wrapper form input::-webkit-input-placeholder {
  color: #827c7c;
  font-weight: 100;
}
.form__request-wrapper form input::-moz-placeholder, .form__subscribe-wrapper form input::-moz-placeholder {
  color: #827c7c;
  font-weight: 100;
}
.form__request-wrapper form input:-ms-input-placeholder, .form__subscribe-wrapper form input:-ms-input-placeholder {
  color: #827c7c;
  font-weight: 100;
}
.form__request-wrapper form input::-ms-input-placeholder, .form__subscribe-wrapper form input::-ms-input-placeholder {
  color: #827c7c;
  font-weight: 100;
}
.form__request-wrapper form input::placeholder, .form__subscribe-wrapper form input::placeholder {
  color: #827c7c;
  font-weight: 100;
}
.form__subscribe-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .form__subscribe-wrapper form {
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .form__btn-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767.98px) {
  .form__btn-wrapper li:not(:last-child) {
    margin-bottom: 20px;
  }
}
.form__text-wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .form__text-wrapper {
    margin-bottom: 50px;
  }
}
.form__text-wrapper li:not(:last-child) {
  margin-bottom: 15px;
}

.button {
  display: block;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 100;
  color: var(--muted70-text-color);
  padding: 14px 36px;
  border: 1px solid var(--muted70-text-color);
  border-radius: 70%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--muted70-text-color);
  background: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: color var(--general-transition-effect), border-color var(--general-transition-effect);
  transition: color var(--general-transition-effect), border-color var(--general-transition-effect);
}
.button:hover, .button:focus {
  color: var(--main-text-color);
  border-color: var(--main-text-color);
  text-decoration-color: var(--main-text-color);
}
@media screen and (min-width: 768px) {
  .button {
    padding: 24px 50px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .button {
    padding: 32px 72px;
    font-size: 20px;
  }
}

.button-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  padding: 16px 22px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .button-icon {
    padding: 16px 25px;
    min-width: 280px;
  }
}
@media screen and (min-width: 1280px) {
  .button-icon {
    padding: 20px 40px;
    min-width: 360px;
  }
}

.button-icon svg {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .button-icon svg {
    width: 30px;
    height: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .button-icon svg {
    width: 40px;
    height: 40px;
  }
}

.header {
  padding: 10px 0;
  position: sticky;
  inset: 0 0 auto;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.9);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 20px 100px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 0 100px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}
.header__logo-icon {
  display: block;
}
.header__menu-btn {
  position: relative;
  z-index: 1000;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--main-text-color);
}
.header__menu-btn[aria-open=false] .header__menu-btn-close {
  visibility: hidden;
  opacity: 0;
  scale: 0.2;
  width: 0;
  height: 0;
}
.header__menu-btn[aria-open=true] .header__menu-btn-open {
  visibility: hidden;
  scale: 0.2;
  opacity: 0;
  width: 0;
  height: 0;
}
@media screen and (min-width: 1280px) {
  .header__menu-btn {
    display: none;
  }
}
.header__menu-icon {
  fill: currentColor;
  width: 40px;
  aspect-ratio: 1;
  opacity: 1;
  scale: 1;
  -webkit-transition: opacity var(--general-transition-effect), scale var(--general-transition-effect);
  transition: opacity var(--general-transition-effect), scale var(--general-transition-effect);
}
.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  inset: 0;
  background-color: var(--main-background-color);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform var(--general-transition-effect);
  transition: -webkit-transform var(--general-transition-effect);
  transition: transform var(--general-transition-effect);
  transition: transform var(--general-transition-effect), -webkit-transform var(--general-transition-effect);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 100;
}
.header__navigation[data-visible=true] {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}
@media screen and (min-width: 1280px) {
  .header__navigation {
    background-color: transparent;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 150px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.header__nav-links {
  padding: 60px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1280px) {
  .header__nav-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px 0;
    margin: 0;
    gap: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-links li:not(:first-child), .header__nav-links li:not(:first-child) {
    border-left: 1px solid var(--secondary-background-color);
  }
}
.header__nav-links a {
  display: inline-block;
  font-size: 24px;
  padding: 0 20px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  -webkit-transition: scale var(--general-transition-effect);
  transition: scale var(--general-transition-effect);
}
@media screen and (min-width: 1280px) {
  .header__nav-links a {
    font-size: 20px;
  }
}
.header__nav-links a:hover {
  scale: 1.12;
}
.header__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--muted50-text-color);
}
.header__button svg {
  display: block;
  fill: currentColor;
}
.header__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 1279.98px) {
  .header__button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 50px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    gap: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}
.hero__background {
  position: relative;
}
.hero__background img {
  min-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__text-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  margin-left: auto;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) {
  .hero__text-wrapper {
    padding: 15px 30px;
    margin: 0 30px 20px 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-wrapper {
    padding: 25px 60px;
    margin: 0 90px 35px 0;
  }
}
.hero__text {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--main-font);
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    font-size: 20px;
  }
}
.hero__text:not(:last-child) {
  margin-bottom: 8px;
}
.hero__text-wrapper span {
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .hero__text-wrapper span {
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text-wrapper span {
    font-size: 50px;
  }
}

.about__title {
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    margin-bottom: 70px;
  }
}
.about__subtitle {
  font-size: 12px;
  line-height: 18px;
  max-width: 230px;
  margin-left: auto;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .about__subtitle {
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .about__subtitle {
    font-size: 20px;
    line-height: 26px;
    max-width: 385px;
    margin-bottom: 50px;
  }
}
.about__subtitle span {
  text-transform: uppercase;
  font-family: var(--bold-font);
  color: var(--accent-text-color);
}
.about__text {
  font-size: 12px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    font-size: 20px;
    line-height: 26px;
  }
}
.about__text span {
  text-transform: uppercase;
  font-family: var(--bold-font);
  color: var(--accent-text-color);
}
.about__text--left {
  margin-bottom: 35px;
}
@media screen and (min-width: 768px) {
  .about__text--left {
    margin-right: auto;
    max-width: 550px;
    margin-bottom: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .about__text--left {
    max-width: 800px;
    margin-bottom: 80px;
  }
}
.about__text--right {
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .about__text--right {
    margin-left: auto;
    max-width: 370px;
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .about__text--right {
    max-width: 550px;
    margin-bottom: 200px;
  }
}
.about__main-img {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about__main-img {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .about__main-img {
    margin-bottom: 50px;
  }
}
.about__advan-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .about__advan-list {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .about__advan-list {
    margin-bottom: 200px;
  }
}
.about__advan-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .about__advan-list li {
    border-left: 1px solid #000;
    font-size: 16px;
    padding: 30px 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__advan-list li {
    font-size: 20px;
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .about__advan-list li:last-child {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
}
@media screen and (max-width: 767.98px) {
  .about__advan-list li:nth-child(2), .about__advan-list li:nth-child(4) {
    border-left: 1px solid #000;
  }
}
@media screen and (max-width: 767.98px) {
  .about__advan-list li:nth-child(1), .about__advan-list li:nth-child(2) {
    border-bottom: 1px solid #000;
  }
}
.about__advan-list svg {
  display: block;
  margin-bottom: 10px;
  width: 45px;
  height: 45px;
}
@media screen and (min-width: 768px) {
  .about__advan-list svg {
    width: 55px;
    height: 55px;
  }
}
@media screen and (min-width: 1280px) {
  .about__advan-list svg {
    width: 65px;
    height: 65px;
  }
}
.about__advan-list span {
  color: var(--muted50-text-color);
}
.about__opportunity-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;
  margin-bottom: 75px;
}
@media screen and (min-width: 768px) {
  .about__opportunity-list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .about__opportunity-list {
    row-gap: 35px;
    margin-bottom: 175px;
  }
}
.about__opportunity-list li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .about__opportunity-list li:first-child {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767.98px) {
  .about__opportunity-list li:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.about__opportunity-list li:last-child {
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .about__opportunity-list li:last-child {
    justify-self: end;
  }
}
.about__opportunity-img {
  display: block;
}
.about__opportunity-img--1 {
  margin-bottom: 15px;
  max-width: 140px;
}
@media screen and (min-width: 768px) {
  .about__opportunity-img--1 {
    margin-bottom: 20px;
    max-width: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .about__opportunity-img--1 {
    margin-bottom: 30px;
    max-width: 220px;
  }
}
@media screen and (max-width: 767.98px) {
  .about__opportunity-text--1 {
    text-align: center;
  }
}
.about__opportunity-img--2 {
  max-width: 300px;
  margin-left: 85px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media screen and (min-width: 768px) {
  .about__opportunity-img--2 {
    max-width: 230px;
    margin-left: auto;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about__opportunity-img--2 {
    max-width: 300px;
    margin-right: 85px;
  }
}
.about__opportunity-img--3 {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about__opportunity-img--3 {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .about__opportunity-img--3 {
    margin-bottom: 30px;
  }
}
.about__opportunity-text--3 {
  text-align: center;
}
.about__opportunity-img--4 {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .about__opportunity-img--4 {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .about__opportunity-img--4 {
    margin-top: 30px;
  }
}
.about__opportunity-text--4 {
  text-align: center;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .about__opportunity-text--4 {
    padding-top: 20px;
  }
}
.about__opportunity-img--5 {
  max-width: 175px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .about__opportunity-img--5 {
    max-width: 240px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .about__opportunity-img--5 {
    min-width: 340px;
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.about__opportunity-text--5 {
  text-align: center;
}
.about__vision-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__vision-title {
  font-family: var(--bold-font);
  font-size: 35px;
  color: var(--accent-text-color);
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .about__vision-title {
    font-size: 50px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .about__vision-title {
    font-size: 70px;
    margin-bottom: 50px;
  }
}
.about__vision-text {
  line-height: 22px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .about__vision-text {
    line-height: 24px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about__vision-text {
    font-size: 20px;
    line-height: 26px;
  }
}
.about__vision-text span {
  font-family: var(--accent-font);
  color: var(--accent-text-color);
  font-size: 26px;
  font-weight: 200;
  line-height: 42px;
}
@media screen and (min-width: 768px) {
  .about__vision-text span {
    font-size: 46px;
    line-height: 50px;
  }
}
@media screen and (min-width: 1280px) {
  .about__vision-text span {
    font-size: 50px;
    line-height: 56px;
  }
}
.about__vision-text--left {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .about__vision-text--left {
    max-width: 550px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .about__vision-text--left {
    max-width: 655px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .about__vision-text--right {
    max-width: 450px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .about__vision-text--right {
    max-width: 530px;
  }
}
.about__vision-img {
  padding: 35px 0;
}
@media screen and (min-width: 768px) {
  .about__vision-img {
    padding: 55px 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__vision-img {
    padding: 75px 0;
  }
}

.cottages__list > li:not(:last-child) {
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .cottages__list > li:not(:last-child) {
    margin-bottom: 135px;
  }
}
@media screen and (min-width: 1280px) {
  .cottages__list > li:not(:last-child) {
    margin-bottom: 185px;
  }
}
.cottages__title {
  margin-bottom: 40px;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
}
@media screen and (min-width: 768px) {
  .cottages__title {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .cottages__title {
    margin-bottom: 100px;
  }
}
.cottages__list > li:nth-child(2) .cottages__title {
  margin-left: auto;
}
.cottages__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  gap: 5px;
}
.cottages__list > li:nth-child(2) .cottages__content-wrapper {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.cottages__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cottages__content li {
  height: 100%;
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}
@media screen and (min-width: 768px) {
  .cottages__content li {
    padding: 0 20px;
  }
}
@media screen and (min-width: 1280px) {
  .cottages__content li {
    padding: 0 30px;
  }
}
.cottages__content li:nth-child(1), .cottages__content li:nth-child(2), .cottages__content li:nth-child(3) {
  border-bottom: 1px solid #000;
}
.cottages__content li:last-child, .cottages__content li:nth-child(4) {
  grid-column: span 1;
}
.cottages__content li:last-child {
  border-left: 1px solid #000;
}
.cottages__content li p {
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  .cottages__content li p {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .cottages__content li p {
    font-size: 70px;
  }
}
.cottages__content li span {
  font-size: 10px;
  text-align: center;
  color: var(--muted50-text-color);
}
@media screen and (min-width: 768px) {
  .cottages__content li span {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .cottages__content li span {
    font-size: 20px;
  }
}
.cottages__swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  max-width: 190px;
  bottom: 0;
}
@media screen and (min-width: 768px) {
  .cottages__swiper-navigation {
    max-width: 420px;
  }
}
@media screen and (min-width: 1280px) {
  .cottages__swiper-navigation {
    max-width: 665px;
  }
}
.cottages__list li:nth-child(2) .cottages__swiper-navigation {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0;
}
.cottages__pagination.swiper-pagination-horizontal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.infrastructure__header {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .infrastructure__header {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .infrastructure__header {
    margin-bottom: 100px;
  }
}
.infrastructure__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
@media screen and (min-width: 768px) {
  .infrastructure__list {
    row-gap: 80px;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media screen and (min-width: 1280px) {
  .infrastructure__list {
    row-gap: 100px;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
}
.infrastructure__img {
  display: block;
  margin-bottom: 20px;
}
.infrastructure__title {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .infrastructure__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .infrastructure__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 25px;
  }
}
.infrastructure__text {
  font-size: 12px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .infrastructure__text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .infrastructure__text {
    font-size: 20px;
    line-height: 26px;
  }
}

.technologies__title {
  font-size: 32px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .technologies__title {
    font-size: 48px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__title {
    font-size: 70px;
    max-width: 745px;
    margin-bottom: 50px;
  }
}
.technologies__title span {
  font-family: var(--bold-font);
}
.technologies__btn {
  margin-left: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .technologies__btn {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__btn {
    margin-bottom: 100px;
  }
}
.technologies__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .technologies__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 15px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__list {
    padding: 0 40px;
    margin-bottom: 90px;
  }
}
.technologies__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid var(--black-background-color);
}
@media screen and (min-width: 768px) {
  .technologies__list li {
    display: block;
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
    border-bottom: none;
    border-left: 1px solid var(--black-background-color);
    padding: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__list li {
    padding: 20px 25px;
  }
}
.technologies__list li:last-child {
  border-bottom: none;
}
@media screen and (min-width: 768px) {
  .technologies__list li:last-child {
    border-left: 1px solid var(--black-background-color);
    border-right: 1px solid var(--black-background-color);
  }
}
.technologies__number {
  font-family: var(--accent-font);
  font-size: 36px;
  font-weight: 200;
  display: block;
  text-align: center;
  margin-bottom: 20px;
  min-width: 60px;
}
@media screen and (min-width: 768px) {
  .technologies__number {
    font-size: 54px;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__number {
    font-size: 70px;
    margin-bottom: 65px;
  }
}
.technologies__text {
  font-size: 12px;
  line-height: 18px;
}
@media screen and (min-width: 768px) {
  .technologies__text {
    font-size: 54px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__text {
    font-size: 70px;
    font-size: 20px;
    line-height: 26px;
  }
}
.technologies__text--right {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .technologies__text--right {
    margin-left: auto;
    max-width: 420px;
  }
}
@media screen and (min-width: 1280px) {
  .technologies__text--right {
    max-width: 520px;
  }
}
.technologies__text--right span {
  font-weight: 200;
  font-family: var(--accent-font);
  color: var(--accent-text-color);
}

.details__header {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .details__header {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .details__header {
    margin-bottom: 100px;
  }
}
.details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  border-radius: 3px;
}
@media screen and (min-width: 768px) {
  .details__item {
    gap: 30px;
  }
}
.details__item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .details__item:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .details__item:not(:last-child) {
    margin-bottom: 100px;
  }
}
.details__item:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.details__item .details__img {
  border-radius: 3px;
}
.details__item:nth-child(even) .details__img {
  grid-column: 2;
}
.details__img img {
  min-width: 150px;
}
@media screen and (min-width: 768px) {
  .details__img img {
    min-width: 300px;
  }
}
@media screen and (min-width: 1280px) {
  .details__img img {
    min-width: 400px;
  }
}
.details__item:nth-child(even) .details__title {
  text-align: right;
}
.details__title {
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-weight: 200;
  margin-bottom: 15px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .details__title {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .details__title {
    margin-bottom: 40px;
    font-size: 20px;
  }
}
.details__item:nth-child(even) .details__text {
  margin-left: auto;
  text-align: right;
}
.details__text {
  max-width: 400px;
  font-size: 12px;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .details__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .details__text {
    font-size: 20px;
  }
}

.build__title {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .build__title {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1280px) {
  .build__title {
    margin-bottom: 100px;
  }
}
.build__swiper {
  max-width: 100%;
  margin-bottom: 20px;
}
.build__swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contacts__title {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__title {
    margin-bottom: 50px;
  }
}
.contacts__list {
  max-width: 880px;
}
.contacts__item {
  color: var(--muted50-text-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__item {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__item {
    margin-bottom: 50px;
  }
}
.contacts__item:nth-child(2) svg {
  width: 30px;
  height: 30px;
}
.contacts__item:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contacts__item:last-child {
  margin-bottom: 100px;
}
.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
  color: inherit;
  font-weight: 200;
  -webkit-transition: color var(--general-transition-effect);
  transition: color var(--general-transition-effect);
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-size: 48px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__link {
    font-size: 70px;
  }
}
.contacts__link:hover {
  color: var(--main-text-color);
}
.contacts__item:last-child .contacts__link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
@media screen and (min-width: 768px) {
  .contacts__item:last-child .contacts__link {
    text-decoration-thickness: 2px;
  }
}
.contacts__link svg {
  display: block;
  fill: currentColor;
  width: 38px;
  height: 38px;
}
@media screen and (min-width: 768px) {
  .contacts__link svg {
    width: 52px;
    height: 52px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts__link svg {
    width: 74px;
    height: 74px;
  }
}

.footer {
  background-color: var(--secondary-background-color);
  padding: 50px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 70px 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer__container li:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer__container li:not(:last-child) {
    font-size: 40px;
  }
}
.footer__link {
  text-transform: uppercase;
  color: var(--white-text-color);
  font-weight: 200;
  font-size: 16px;
}
@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 18px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__link {
    font-size: 20px;
  }
}
.footer__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767.98px) {
  .footer__navigation-list {
    margin-bottom: 20px;
  }
}
.footer__contacts-list {
  max-width: 200px;
}
@media screen and (max-width: 767.98px) {
  .footer__contacts-list {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 767.98px) {
  .footer__contacts-list li:first-child {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.footer__contacts-list li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contacts-list li:last-child .footer__link:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}
@media screen and (max-width: 767.98px) {
  .footer__logo {
    text-align: center;
    margin-bottom: 50px;
  }
}
.footer__logo svg {
  width: 250px;
}
@media screen and (min-width: 768px) {
  .footer__logo svg {
    width: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__logo svg {
    width: 250px;
  }
}
.footer__contacts-list li:last-child .footer__link svg {
  fill: currentColor;
}
.footer__contacts-list li:nth-child(3) {
  margin-bottom: 25px;
}
.footer__contacts-list li:nth-child(3) .footer__link {
  text-transform: lowercase;
}
.footer__contacts-list li:nth-child(4) {
  margin-bottom: 25px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--white-text-color);
}/*# sourceMappingURL=main.css.map */